extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")

            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur  adipiscing elit. 
                Aenean consectetur eu dolor ut tincidunt. Morbi auctor 
                orci fringilla porttitor pulvinar. Vivamus 
                vitae quam cursus, iaculis diam et, mollis ligula. Mauris porta efficitur laoreet. 
                Vestibulum non aliquet elit. Proin sed suscipit leo, sed finibus enim. Duis non nulla augue. 
                Duis tristique tellus quis lectus faucibus volutpat.
                p Etiam at tincidunt dolor. Donec laoreet nisi nulla, 
                at viverra lacus vulputate quis. Quisque id justo et nunc malesuada dictum. 
                Donec sagittis neque sed maximus tempor. Aenean euismod, metus eu bibendum pretium, purus purus mattis est, 
                at vestibulum metus metus in mi. Sed fringilla neque sit amet mauris vestibulum, in feugiat massa aliquet. 
                Nunc efficitur augue odio, nec mollis elit auctor nec. Nullam vitae interdum neque. Curabitur ullamcorper erat erat, 
                rutrum hendrerit eros elementum et.

                p Aenean nec ex sapien. Sed blandit placerat tortor, ut sollicitudin quam cursus ut. 
                Sed et rhoncus urna, eget interdum lacus. Ut accumsan hendrerit porttitor. 
                Aliquam ultrices et urna a blandit. In euismod lacinia nunc, a convallis massa.
                Vivamus suscipit sit amet eros ut bibendum. Curabitur dapibus mi quis metus porttitor, 
                quis condimentum ipsum euismod. Nam luctus mi ac elementum dignissim. In sollicitudin lectus ut auctor dictum. 
                Nullam id dolor scelerisque, elementum ipsum dictum, varius enim. Duis non dolor eu lorem egestas tempor. 
                Curabitur gravida sed felis nec tempor. Sed volutpat erat sit amet leo posuere pharetra. 
                Nulla laoreet quam vitae tortor tempus
                
    .listado-iconos
        .container-mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p   sagittis neque sed maximus tempor. Aenean euismod, metus eu bibendum pretium, purus purus mattis est, 
                        at vestibulum metus metus in mi. Sed fringilla neque sit amet mauris vestibulum, in feugiat massa aliquet. 
                        Nunc efficitur augue odio, nec mollis elit auctor nec. Nullam vitae interdum neque. Curabitur ullamcorper erat erat, 
                        rutrum hendrerit eros elementum et.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p   sagittis neque sed maximus tempor. Aenean euismod, metus eu bibendum pretium, purus purus mattis est, 
                        at vestibulum metus metus in mi. Sed fringilla neque sit amet mauris vestibulum, in feugiat massa aliquet. 
                        Nunc efficitur augue odio, nec mollis elit auctor nec. Nullam vitae interdum neque. Curabitur ullamcorper erat erat, 
                        rutrum hendrerit eros elementum et.
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p   sagittis neque sed maximus tempor. Aenean euismod, metus eu bibendum pretium, purus purus mattis est, 
                        at vestibulum metus metus in mi. Sed fringilla neque sit amet mauris vestibulum, in feugiat massa aliquet. 
                        Nunc efficitur augue odio, nec mollis elit auctor nec. Nullam vitae interdum neque. Curabitur ullamcorper erat erat, 
                        rutrum hendrerit eros elementum et.